    // Font
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

    // Variables
    $primaryColor: #00811E;
    $secondaryColor: #FFFFFF;
    $tertiaryColor: #121212;
    $textColor: #000000;
    $hoverColor: #C1C1C1;
    $bgcardColor:#F8F8F8;


    // Style

    body{
        font-family: 'Poppins', sans-serif;
        background-image: url(../img/bg1.png);
        background-position: top;
        background-repeat: no-repeat;
        background-size:100vmax;
        max-width: 100%;
        overflow-x: hidden;
        .sec1{
            width: 100%;
            height: 75vh;
            margin-bottom: 2em;
        }
    }

    // navbar

    .sticky{
        background-color: $tertiaryColor;
        box-shadow: 0 3px 1rem;
        transition: 1s;
    }

    //custom section
    .custom-section{
        margin-top: 15em;
        height: 100px;
        h2{
            font-size: 4rem;
            font-weight: 600;
            color: $secondaryColor;
            white-space: nowrap;
        }
        p{
            margin-top: 2em;
            color: $secondaryColor;
            font-weight: 200;
        }
    }

    // Section About us
    .sec2{
        width: 100%;
        height: 500px;
        margin-top: 4em;
        .container{
            .row{
                .new-col{
                    width: 40%;
                    padding-top: 30px;
                    padding-left: 20px;
                    h6{
                        color: $primaryColor;
                        font-weight: 700;
                        white-space: nowrap;
                        font-size: 1.2rem;
                    }
                    h2{
                        color: $textColor;
                        font-weight: 800;
                        font-size: 3rem;
                    }
                    .text-about1{
                        font-weight: 600;
                        font-size: 1.13rem;
                        margin-top: 10px;
                    }
                    .text-about2{
                        font-weight: 400;
                        font-size: 0.99rem;
                        margin-top: 10px;
                    }
                    .about-button{
                        margin-top: 10px;
                        background-color: $primaryColor;
                        color: $secondaryColor;
                        padding: 15px 50px;
                        border-radius: 0;
                    }
                }
                .new-col2{
                    width: 50%;
                    margin-left: 8.2rem;
                        .img-row{
                            img{
                                width: 280px;
                                height: 210px;
                            }
                            .about-img2{
                                margin-left: 100px;
                            }
                        }
                        .new-img-row{
                            img{
                                width: 583px;
                                height: 280px;
                            }
                            .about-img3{
                                margin-top: 20px;
                            }
                        }
                }
            }
        }
    }

    // section about 2
    .sec3{
        width: 100%;
        height: 580px;
        background-image: url(../img/background2.png);
        background-size: 100vmax;
        background-repeat: no-repeat;
        margin-top: 6em;
        .container{
            .title-about-animal{
                padding-top: 4rem;
                padding-bottom: 2rem;
                color: $secondaryColor;
                font-weight: 600;
                font-size: 3rem;
            }
            .card-size{
                width: 290px;
                height: 290px;
                .card-body{
                    .new-paw{
                        background-color: $primaryColor;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border-radius: 100%;
                        width: 60px;
                        margin-left: 97px;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    h5{
                        font-weight: 600;
                    }
                    p{
                        font-weight: 500;
                        color: $hoverColor;
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }

// section Berita
.sec4{
    width: 100%;
    height: auto;
    margin-top: 6rem;
    .container{
        h6{
            color: $primaryColor;
            font-weight: 700;
            white-space: nowrap;
            font-size: 1.2rem;
        }
        h2{
            color: $textColor;
            font-weight: 800;
            font-size: 3rem;
            margin-bottom: 70px;
        }
        .row{
            .col{
                .card{
                    border: 0;
                    background-color: $bgcardColor;
                    img{
                        width: 414px;
                        height: 242px;
                    }
                    .card-body{
                        padding: 30px 50px;
                        h5{
                            font-weight: 700;
                        }
                        p{
                            font-weight: 600;
                            color: $hoverColor;
                        }
                    }
                }
            }   
        }
    }
}

// section galeri
.sec5{
    width: 100%;
    height: auto;
    margin-top: 6em;
    .container{
        width: 200%;
        .galeri-title{
            h6{
                color: $primaryColor;
                font-weight: 700;
                white-space: nowrap;
                font-size: 1.2rem;
            }
            h2{
                color: $textColor;
                font-weight: 800;
                font-size: 3rem;
                margin-bottom: 70px;
            }
        }
    }
    .galery-flex{
        .img-flex{
            .model{
                width: 422px;
                height: 400px;
            }
            .model2{
                width: 422px;
                height: 400px;
            }
            .model3{
                width: 422px;
                height: 400px;
            }
            .model4{
                width: 422px;
                height: 400px;
            }
        }
    }
}

// Footer
.foot-set{
    background-color: $tertiaryColor;
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-left: 12rem;
    padding-right: 7rem;
    height: 500px;
    width: 100vmax;
    .col-4{
        p{
            color: $hoverColor;
            margin-top: 25px;
        }
        .social-icon{
            .bd-highlight{
                a{
                    img{
                        margin-left: -6px;
                    }
                }
            }
        }
    }
    .col{
        color: $secondaryColor;
        ul{
            margin-top: 30px;
            li{
                margin-top: 5px;
                a{
                    color: $secondaryColor;
                    svg{
                        padding-left: 2px;
                    }
                    span{
                        padding-left: 15px;
                    }
                }
            }
        }
    }
    .bottom-footer{
        width: 100%;
        margin-top: 4rem;
        text-align: center;
        .copyright{
            color: $hoverColor;
        }
    }
}
